<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to Parking Slot Finder !</h1>
<p>Hello <%= @user.email %>,</p>
<p>Thank you for signing up in Parking Slot Finder! We're excited to have you on board.</p>
<p>To get started, click the link below:</p>
<p><a href="<%= @url %>"><%= @url %></a></p>

<p>Best regards,<br>Parking Slot Finder Team</p>
</body>
</html>